{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Pagos</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
            {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">          
                <div class="form-group form-group-sm">  
                    <label for="form_TxtNumero" class="col-sm-2 control-label">Numero:</label>
                    <div class="col-sm-10">                  
                        {{ form_widget(form.TxtNumero, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>                                                             
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>                                                    
            </div>
        </div> 
        <table  class="table table-striped table-bordered table-condensed table-hover">
            <tr>
                <th>CÓDIGO</th>
                <th>NUMERO</th>
                <th>TIPO</th>                
                <th>IDENTIFICACION</th>                
                <th>EMPLEADO</th>                
                <th>C. COSTO</th>
                <th>P. DESDE</th>
                <th>DESDE</th>
                <th>HASTA</th>
                <th style="text-align: right">SALARIO</th>
                <th style="text-align: right">DEVENGADO</th>
                <th style="text-align: right">DEDUCCIONES</th>
                <th style="text-align: right">NETO</th>
                <th></th>
                <th></th>
            </tr>
            {% for arPagos in arPagos %}
            <tr>
                <td><input type="hidden" name="LblCodigo[]" value="{{ arPagos.codigoPagoPk }}">{{ arPagos.codigoPagoPk }} </td>
                <td>{{ arPagos.numero  }}</td>
                <td>{{ arPagos.numero  }}</td>
                <td>{{ arPagos.empleadoRel.numeroIdentificacion  }}</td>
                <td>{{ arPagos.empleadoRel.nombreCorto  }}</td>
                <td>{{ arPagos.numero  }}</td>                
                <td>{{ arPagos.fechaDesdePago |date("Y/m/d")  }}</td>
                <td>{{ arPagos.fechaDesde |date("Y/m/d")  }}</td>
                <td>{{ arPagos.fechaHasta |date("Y/m/d")  }}</td>
                <td style="text-align: right">{{ arPagos.vrSalario | number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ arPagos.vrDevengado | number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ arPagos.vrDeducciones | number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ arPagos.vrNeto | number_format(2, '.', ',') }}</td>
                <td style="text-align: center"></td>
                <td><input type="checkbox" name="ChkSeleccionar[]" value="{{ arPagos.codigoPagoPk }}" /></td>
            </tr>
            {% endfor %}
        </table>
        <div class="btn-toolbar" style="float: left">
            <div class="btn-group">
                {{ knp_pagination_render(arPagos) }} 
            </div>
            <div class="btn-group">
                <div class="btn btn-default btn-sm">Pagos <span class="badge">{{ arPagos.getTotalItemCount }}</span></div>        
            </div>
        </div>                
        <div class="btn-toolbar" style="float: right">                 
            <div class="btn-group">                
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}                
            </div>
        </div>
        
        {{ form_rest(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}
