{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Lista programación turno</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
            {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label for="form_TxtCodigoProcesoDisciplinario" class="col-sm-2 control-label">Código Proceso disciplinario:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.TxtCodigoProcesoDisciplinario, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>COD</th>                               
                <th>PUESTO</th>                
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                <th>25</th>
                <th>26</th>
                <th>27</th>
                <th>28</th>
                <th>29</th>
                <th>30</th>
                <th>31</th>
                <th>H</th>
                <th>P.D</th>                
            </tr>
            {% set intCodigoCliente = '' %}
            {% for arProgramacionDetalles in arProgramacionDetalles %}
               {% if intCodigoCliente != arProgramacionDetalles.programacionRel.codigoClienteFk %}
                    <tr> 
                        <td id="suptipo" colspan="38">{{ arProgramacionDetalles.programacionRel.clienteRel.nombreCorto | default('') }}</td>
                    </tr>
                    {% set intCodigoCliente = arProgramacionDetalles.programacionRel.codigoClienteFk %}
                {% endif %} 
                <tr>
                    <td>{{ arProgramacionDetalles.codigoProgramacionDetallePk  }}<input type="hidden" name="LblCodigo[]" value="{{ arProgramacionDetalles.codigoProgramacionDetallePk }}"></td>                                        
                    <td>{{ arProgramacionDetalles.puestoRel.nombre | default('') }}</td>                                                                 
                    <td>{{ arProgramacionDetalles.dia1  }}</td>
                    <td>{{ arProgramacionDetalles.dia2  }}</td>
                    <td>{{ arProgramacionDetalles.dia3  }}</td>
                    <td>{{ arProgramacionDetalles.dia4  }}</td>
                    <td>{{ arProgramacionDetalles.dia5  }}</td>
                    <td>{{ arProgramacionDetalles.dia6  }}</td>
                    <td>{{ arProgramacionDetalles.dia7  }}</td>
                    <td>{{ arProgramacionDetalles.dia8  }}</td>
                    <td>{{ arProgramacionDetalles.dia9  }}</td>
                    <td>{{ arProgramacionDetalles.dia10  }}</td>
                    <td>{{ arProgramacionDetalles.dia11  }}</td>
                    <td>{{ arProgramacionDetalles.dia12  }}</td>
                    <td>{{ arProgramacionDetalles.dia13  }}</td>
                    <td>{{ arProgramacionDetalles.dia14  }}</td>
                    <td>{{ arProgramacionDetalles.dia15  }}</td>
                    <td>{{ arProgramacionDetalles.dia16  }}</td>
                    <td>{{ arProgramacionDetalles.dia17  }}</td>
                    <td>{{ arProgramacionDetalles.dia18  }}</td>
                    <td>{{ arProgramacionDetalles.dia19  }}</td>
                    <td>{{ arProgramacionDetalles.dia20  }}</td>
                    <td>{{ arProgramacionDetalles.dia21  }}</td>
                    <td>{{ arProgramacionDetalles.dia22  }}</td>
                    <td>{{ arProgramacionDetalles.dia23  }}</td>
                    <td>{{ arProgramacionDetalles.dia24  }}</td>
                    <td>{{ arProgramacionDetalles.dia25  }}</td>
                    <td>{{ arProgramacionDetalles.dia26  }}</td>
                    <td>{{ arProgramacionDetalles.dia27  }}</td>
                    <td>{{ arProgramacionDetalles.dia28  }}</td>
                    <td>{{ arProgramacionDetalles.dia29  }}</td>
                    <td>{{ arProgramacionDetalles.dia30  }}</td>
                    <td>{{ arProgramacionDetalles.dia31  }}</td>                     
                    <td style="text-align: right">{{ arProgramacionDetalles.horas | number_format(0, '.', ',') }}</td> 
                    <td>{{ arProgramacionDetalles.codigoPedidoDetalleFk }}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="btn-toolbar" style="float: left">
            {{ knp_pagination_render(arProgramacionDetalles) }}
        </div>
            <div class="btn-group">
                <div class="btn btn-default btn-sm">Programaciones turnos <span class="badge">{{ arProgramacionDetalles.getTotalItemCount }}</span></div>
            </div>
        </div>
        

        {{ form_rest(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}
