{% extends '::base.html.twig' %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h3>Lista incapacidades</h3>
    </div>
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
            {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Filtros de busqueda</div>
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <label for="form_TxtCodigoIncapacidad" class="col-sm-2 control-label">Código incapacidad:</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.TxtCodigoIncapacidad, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.BtnFiltrar, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-condensed">
                    <tr>
                        <th>CÓDIGO</th>
                        <th>NÚMERO INCAPACIDAD</th>
                        <th>NÚMERO EPS</th>
                        <th>EPS</th>
                        <th>IDENTIFICACIÓN</th>
                        <th>EMPLEADO</th>
                        <th>CENTRO COSTO</th>
                        <th>DESDE</th>
                        <th>HASTA</th>
                        <th style="text-align: right">DÍAS</th>
                        <th>COBRAR</th>
                        <th>PRORROGA</th>
                        <th>TRANSCRIPCIÓN</th>
                        <th style="text-align: right">VR INCAPACIDAD</th>
                    </tr>
                    {% for arIncapacidades in arIncapacidades %}
                    <tr>
                        <td><input type="hidden" name="LblCodigo[]" value="{{ arIncapacidades.codigoIncapacidadPk }}">{{ arIncapacidades.codigoIncapacidadPk }} </td>
                        <td>{{ arIncapacidades.numero }}</td>
                        <td>{{ arIncapacidades.numeroEps }}</td>
                        <td>{{ arIncapacidades.entidadSaludRel.nombre }}</td>
                        <td>{{ arIncapacidades.empleadoRel.numeroIdentificacion }}</td>
                        <td>{{ arIncapacidades.empleadoRel.nombreCorto  }}</td>
                        <td>{{ arIncapacidades.centroCostoRel.nombre |default('')  }}</td>
                        <td>{{ arIncapacidades.fechaDesde |date("Y/m/d")  }}</td>
                        <td>{{ arIncapacidades.fechaHasta |date("Y/m/d")  }}</td>
                        <td style="text-align: right">{{ arIncapacidades.cantidad | number_format(0, '.', ',') }}</td>
                        <td>{% if arIncapacidades.estadoCobrar == 1 %} SI {% else %} NO {% endif %}</td>
                        <td>{% if arIncapacidades.estadoProrroga == 1 %} SI {% else %} NO {% endif %}</td>
                        <td>{% if arIncapacidades.estadoTranscripcion == 1 %} SI {% else %} NO {% endif %}</td>
                        <td style="text-align: right">$ {{ arIncapacidades.vrIncapacidad | number_format(0, '.', ',') }}</td>
                    </tr>
                    {% endfor %}
                </table>

        <div class="btn-toolbar" style="float: left">
            {{ knp_pagination_render(arIncapacidades) }}
        </div>
            <div class="btn-group">
                <div class="btn btn-default btn-sm">Incapacidades <span class="badge">{{ arIncapacidades.getTotalItemCount }}</span></div>
            </div>
            <div class="btn-toolbar" style="float: right">
            <div class="btn-group">
                {{ form_widget(form.BtnExcel, { 'attr': {'class': 'btn btn-default btn-sm'} }) }}
            </div>
        </div>
        </div>


        {{ form_rest(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}
